*{
  box-sizing: border-box;
  transition: all .2s;
}

html { 
    font-family: $third-ff;
    font-size: 16px;
    line-height: 22px;
    height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.clearfix:after { 
   content: '.';
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
   font-size: 0;
}

h1, h2, h3, h4, h5, p{
    margin: 0;
}

p {
  font-family: $main-ff;
  font-size: 21px;
  font-weight: 400;
  line-height: 27px;
}

h3 {
  font-family: $main-ff;
  font-size: 24px;
  font-weight: 800;
}

.container {
  flex: 1;

  padding-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .content-caption-box:after {
    content: none;
  }

  body {
    overflow-x: auto;
  }
}

// Modificators for different pages pages

// Name in list of modificators complains with name of the modificator and name of the page
// List is for easily search through the document

// LIST OF MODIFICATORS:

// HOMEPAGE
// LEAVE-MINTO-COURSE
// SUMMARY-APP
// BUY-THE-COURSE
// MINTO-TEXTBOOK
// POLICIES
// T&Cs
// TESTIMONIALS
// CONTACT
// LOGIN

/////////////////////////////LEAVE-MINTO-COURSE///////////////////////////////


.leave-minto-course {

  .header {
    background: url(../src/images/livecourse_header_bg.png);
  }

  .CoverImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
    max-width: 100%;
  }

  .side-nav__item:hover {
    background-color: $purple2;
    border: 3px solid $purple2;
  }

  .side-nav__item--current {
    background-color: $purple2;
    border: 3px solid $purple2;
  }

  .content-caption {
    font-size: 21px;
  }

  .content-caption-box {
      background-color: $purple2;
      margin: 45px 0 0 120px;
  }

  .content-caption-box:after {
      background-color: $purple2;
  }

}

////////////////////////////////SUMMARY-APP/////////////////////////////////////////

.summury-app {

  .header {
    background: url(../src/images/barbara-in-your-pocket__header.png);
  }

  .CoverImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
    max-width: 100%;
  }

  .side-nav__item:hover {
    background-color: $barbara-blue;
    border: 3px solid $barbara-blue;
  }

  .side-nav__item--current {
    background-color: $barbara-blue;
    border: 3px solid $barbara-blue;
  }

  .content-caption {
    font-size: 21px;
  }

  .content-caption-box {
      background-color: $barbara-blue;
      margin: 65px 0 0 120px;
  }

  .content-caption-box:after {
      background-color: $barbara-blue;
  }

  .content-text {
    color: $light-blue;
  }
}

///////////////////////////////MINTO-TEXTBOOK//////////////////////////////////////////

.minto-textbook {

  .header {
    background: url(../src/images/minto-textbook-header.png);
  }

  .CoverImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
    max-width: 100%;
  }

  .side-nav__item:hover {
    background-color: $textbook-orange;
    border: 3px solid $textbook-orange;
  }

  .side-nav__item--current {
    background-color: $textbook-orange;
    border: 3px solid $textbook-orange;
  }

  .content-caption {
    font-size: 21px;
  }

  .content-caption-box {
      background-color: $textbook-orange;
      margin: 65px 0 0 120px;
  }

  .content-caption-box:after {
      background-color: $textbook-orange;
  }

  .proposals {
    display: block;

    margin: 10px 0 0 120px;
  }

  .proposal {
    padding-right: 135px;

    width: 100%;

    margin-left: 0px;
    margin-bottom: 40px;

    &-logo {
      display: inline-block;
      box-shadow: 7px 7px 5px -1px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

    &-heading {
      margin-bottom: 35px;
      color: $light-blue;
      font-size: 16px;
    }

    &-heading--minto-textbook {

          font-size: 21px;
          color: $main-purple;

          margin-bottom: 35px;
        }
  }
}

////////////////////////////HOMEPAGE/////////////////////////////////////////////

.homepage {
  background: url(../src/images/homepage_bg.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: auto;

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-box {
      width: 690px;

      display: flex;
      justify-content: center;
    }
  }

  .header {
    background: none;

    margin-bottom: 50px;

    display: inherit;
  }

  .content-caption {
    font-size: 64px;
    font-family: "Nexa-Light", "sans pro", "serif";
    font-weight: 400;

    color: $white;
    line-height: 60px;
    margin: 0;

    top: 0;
    left: 0;
  }

  .content-text {
    width: 344px;
    margin-left: 40px;
    padding: 0;
    
    font-size: 22px;
    font-family: "Source Sans Pro", "sans pro", "serif";
    font-weight: 400;

    color: #ffffff;
  }

  .content-box {
    margin-left: 0px;
    padding-left: 0px;
  }
}

/////////////////////////////////CONTACT////////////////////////////////////////

.contact {
  
  .content {
    display:flex;
  }

  .header {
    background: url(../src/images/contact-header_bg.png);
  }

  .CoverImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
    max-width: 100%;
  }

  .side-nav__item:hover {
    background-color: $contact-green;
    border: 3px solid $contact-green;
  }

  .side-nav__item--current {
    background-color: $contact-green;
    border: 3px solid $contact-green;
  }

  .content-caption {
    font-size: 21px;
    font-weight: 400;
    
    position: initial;
    padding: 10px 0 0 12px;
  }

  .content-caption-box {
      background-color: $contact-green;
      margin: 65px 0 0 120px;
      position: absolute;
  }

  .content-caption-box:after {
      background-color: $contact-green;
  }

  .content-text {
    color: $light-blue;
  }

}

//////////////////////////////BUY-THE-COURSE///////////////////////////////////////////

.buy-the-course {
      margin-bottom: 0px;

  .header {
    background: url(../src/images/buy-the-course_header_bg.png);
  }

  .underheader {
    position: relative;
  }

  .back__button {
      top: 35px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .container {
    padding-bottom: 300px;
  }

  .CoverImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
    max-width: 100%;
  }

  .content-heading {
    font-size: 23px;
    font-family: $third-ff;

    padding: 35px 385px 0 350px;
  }

  .content-heading--payment-num {
    padding: 0px 0px 20px 0px;
    margin-left: 20px;

    display: inline-block;
  }

  .content-heading--payment-sum {
    padding: 0px 0px 30px 0px;
    margin-left: 20px;

    display: inline-block;
  }

  .content-text {
    font-size: 15px;
    font-family: $secondary-ff;

    padding: 5px 65px 0 350px;
    line-height: 18px;

    margin-bottom: 40px;
  }

  .contacts-input-box {
    margin: 0px 0 0 20px;
    width: 460px;
  }

  .buy-the-course__right-aside {
    width: 315px;
  }

  .buy-the-course__left-aside {
    width: 340px;
    margin-left: 25px;

    position: relative;
  }

    input, textarea {
      padding:7px 10px;
    }

    .field-wrap {
      margin-bottom: 13px;

      font-family: $third-ff;
      font-size: 17px;
      color: $main-purple;

      position: relative;
    }

    .field-wrap--last {
      margin-bottom: 20px;
    }

    .field-wrap__dropdown {
      cursor: pointer;
    }

    .field-wrap__dropdown:after {
      content: url(../src/images/buy-the-course_arrowdown.png);

      position: absolute;
      right: 14px;
      bottom: 10px;
    }

    .field-wrap--right {
      margin-bottom: 0px;
      position: inherit;
      float: right;
    }

    .input-message__fild--right {
      height: 205px;
      width: 195px;
    }

    .input-message__fild--left {
      width: 335px;
      height: 255px;
    }
}

/////////////////////////////////T&Cs////////////////////////////////////////

.TCs, .policies, .testimonials {

  .header {
    background: url(../src/images/T&Cs-header_bg.png);
  }

  .CoverImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
    max-width: 100%;
  }

  .right-aside {
    position: relative;
    float: left;
  }

  .back__button {
    padding: 5px 35px 5px 45px;
  }

  .content-text {
    padding: 25px 120px 0 135px;
  }

  .content-heading {
    padding: 25px 150px 0 135px;
  }

  .content-caption-box {
      background-color: $purple2;
      margin: 45px 0 0 135px;
  }

  .content-caption-box:after {
      background-color: $purple2;
  }
}

//////////////////////////////POLICIES///////////////////////////////////////////

.policies {

  .content-box {
    margin-left: 215px;
    padding-left: 0px;
  }

  .header {
    background: url(../src/images/policies-header_bg.png);
  }

  .CoverImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
    max-width: 100%;
  }
}

////////////////////////////////TESTIMONIALS/////////////////////////////////////////

.testimonials {

  .container {
    padding-bottom: 100px;
  }

  .header {
    background: url(../src/images/testimonials-header_bg.png);
  }

  .CoverImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
    max-width: 100%;
  }

  .content-caption-box {
      background-color: $testimonials-vinous;
      margin: 45px 0 0 135px;

      font-weight: 400;
  }

  .content-caption-box:after {
      background-color: $testimonials-vinous;
  }

  .content-text {
    padding: 40px 120px 0 135px;
  }
}

//////////////////////////////////LOGIN///////////////////////////////////////

.login {

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
      padding-bottom: 0px;
  }

  .header {
    background: url(../src/images/login-alt-header_bg.png);
  }

  .CoverImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
    max-width: 100%;
  }

  .contacts-input-box {
    margin: 120px 0 0 0;
    width: 615px;
    height: 370px;
    background: $login-purple;

    border-radius: 10px;
  }

    input::-webkit-input-placeholder {
      color: $login-purple;
      opacity: 1;
    }

    .field-wrap {
      padding-left: 60px;
      margin-bottom: 6px;

      font-family: $third-ff;
      font-size: 21px;
      color: $main-purple;

      position: relative;
    }

    .field-wrap--username {
      padding: 45px 0 6px 60px;
    }

    .login-username-fild, .login-pass-fild {
      width: 490px;
      padding: 0px 10px;
      text-align: center;
    }
}