//
// Font stacks
$main-ff: 'Source Sans Pro', 'sans pro', 'serif';
$secondary-ff: 'Nexa-Light', 'sans pro', 'serif';
$third-ff: 'Nexa-Bold', 'sans pro', 'serif';

//
// Colors
$white: #ffffff;

$main-blue: #0182b3;
$light-blue: #2795be;

$main-purple: #050e61;
$purple2: #1e2977;
$login-purple: #02043f;

$concept-red: #fc0d1c;

$textbook-orange: #fd7f23;

$barbara-blue: #7a97ab;

$contact-green: #2fbd89;

$testimonials-vinous: #731212;
$testimonials-blue: #43a3c6;

$lecture-orange: #fc922c;



