.side-nav {
	padding: 65px 0 0 50px;
	display: inline-block;
	
	&__item {
		display: block;
		width: 165px;
		color: $purple;

		padding: 9px 5px;
		margin-top: 7px;

		border: 3px solid $main-blue;
		border-radius: 5px;
		
		font-size: 18px;
		line-height: 16px;
		text-align: center;
		text-decoration: none;

		cursor: pointer;
	}

	&__item:first-of-type {
		margin-top: 0px;
	}

	&__item:hover {
		background-color: $main-red;
		border: 3px solid $main-red;
		color: $white;
	}

	&__item--current {
		background-color: $main-red;
		border: 3px solid $main-red;
		color: $white;
	}

	// specific styles for different pages
	&--live-minto-course {
	  	
		.side-nav__item:hover {
			background-color: $purple2;
			border: 3px solid $purple2;
		}

		.side-nav__item--current {
			background-color: $purple2;
			border: 3px solid $purple2;
		}
	}

	&--barbara-in-your-pocket {
	  	
		.side-nav__item:hover {
			background-color: $lighter-blue;
			border: 3px solid $lighter-blue;
		}

		.side-nav__item--current {
			background-color: $lighter-blue;
			border: 3px solid $lighter-blue;
		}
	}
}