.content-heading {
	padding: 65px 150px 0 120px;

	color: $purple2;

	line-height: 27px;
}

.content-subheading {
	color: $purple2;
	padding: 0px 150px 0 135px;

	font-size: 14px;
	font-weight: 400;
}