@font-face {
    font-family: 'Nexa-Bold';
    src: url('../src/fonts/Nexa-Bold.otf');
    
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Nexa-Light';
    src: url('../src/fonts/Nexa-Light.otf');
    
    font-style: Bold;
    font-weight: normal;
}