.footer {
	height: 50px;
	width: 100%;
	
	margin-top: -50px;
	display: flex;
	justify-content: center;
	background-color: $main-blue;

   &-nav {
		margin: 15px 0;

   	&__item {
		margin: 0px 35px 0px 0;

		text-decoration: none;
		color: $white;

		font-family: $main-ff;
		font-size: 16px;

		cursor: pointer;
   	}
   }
}