.payment-boxes {
	position: relative;
}

.payment-box1 {
	position: relative;
	margin-left: 20px;
}

.payment-box2 {

}

.counter-box {
	width: 30px;
    height: 30px;
    display: inline-block;
	
	position: relative;
    left: 35px;
    top: 8px;

    border-radius: 5px;
    border: 2px solid $purple2;
}

.counter-value {
	text-align: center;
	font-size: 23px;
	font-family: $third-ff;
	color: $purple2;

	position: absolute;
    left: 4.5px;
}

//////////////


.payment-value-box {
	display: inline-block;
}

.payment-value__count {
	margin-left: 9px;

	font-size: 23px;
	font-family: $third-ff;
	color: $purple2;
}

//////////////

.payment-mode-box {
	margin-left: 20px;
}

.payment-mode {
	text-decoration: none;
	cursor: pointer;
}

.payment-modes {
	margin-top: 14px;
}

.payment-mode__img1 {
	margin-bottom: 4px;
}

.payment-mode__img2 {
	margin-bottom: 2px;
}

.payment-button__wrap {
	position: relative;
}