//
// Font stacks
$main-ff: 'Nexa-Bold';
$secondary-ff: 'Nexa-Light';

//
// Colors
$white: #ffffff;

$main-red: #fc0d1c;

$main-blue: #0182b3;
$light-blue: #2795be;
$lighter-blue: #52aacb;

$purple: #050e61;